


<div class="navbar navbar-expand-lg navbar-dark navbar-static">

    @* HIDDEN FIRST *@
    <div class="d-flex flex-1 d-lg-none">
        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-paragraph-justify3"></i>
            </button>*@
        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-transmission"></i>
        </button>
    </div>

    @* LEFT *@

    @if (User.Identity.Name != "Admin Admin")
    {
        <div class="navbar-brand text-center text-lg-left">
            <a asp-controller="Teacher" asp-action="Index" class="d-inline-block">
                <img src="~/img/fsmvuSmall.jpg" style="height:35px;width:35px" class="d-none d-sm-block" alt="">
            </a>
        </div>

    }
    else
    {
        <div class="navbar-brand text-center text-lg-left">
            <a asp-controller="Mail" asp-action="Index" class="d-inline-block">
                <img src="~/img/fsmvuSmall.jpg" style="height:35px;width:35px" class="d-none d-sm-block" alt="">
            </a>
        </div>
    }
    @if (User.Identity.IsAuthenticated)
    {


        @* MIDDLE *@
        <div class="collapse navbar-collapse order-2 order-lg-1" id="navbar-mobile">

            <div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

                <div class="sidebar-content">
                </div>
            </div>
        </div>

        @* RIGHT *@
        <ul class="navbar-nav flex-row order-1 order-lg-2 flex-1 flex-lg-0 justify-content-end align-items-center">
            @if (User.Identity.Name != "Admin Admin")
            {
                <a class="mr-5" asp-controller="Exam" asp-action="Create"><i class="icon-pen-plus"></i> Create Exam</a>
            }
            else
            {
                <a class="mr-5" asp-controller="Survey" asp-action="Results"><i class="icon-paragraph-left2"></i> Survey Results</a>
            }

            <li class="nav-item nav-item-dropdown-lg dropdown dropdown-user h-100">
                <a href="#" class="navbar-nav-link navbar-nav-link-toggler dropdown-toggle d-inline-flex align-items-center h-100" data-toggle="dropdown">
                    <img src="~/img/fsmvuSmall.jpg" class="rounded-pill mr-lg-2" height="34" alt="">
                    <span class="d-none d-lg-inline-block">Merhaba @User.Identity.Name</span>
                </a>


                <div class="dropdown-menu dropdown-menu-right">
                    <form method="post">
                        <a asp-controller="Home" asp-action="Logout" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                    </form>
                </div>
            </li>
        </ul>
    }
</div>