@model Mudek.Models.Teacher

@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
}
@if (!string.IsNullOrEmpty(error))
{
    <h2>@error</h2>
}


<div class="content-wrapper">
    <div class="content-inner">
        <div class="content d-flex justify-content-center align-items-center">
            <form class="login-form" action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
                <div class="card mb-0">
                    <div class="card-body">

                        <div class="text-center mb-3">
                            <i class="icon-reading icon-2x text-secondary border-secondary border-3 rounded-pill p-3 mb-3 mt-1"></i>
                            <h5 class="mb-0">Login to your account</h5>
                            <span class="d-block text-muted">Your credentials</span>
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input asp-for="Mail" type="text" class="form-control" placeholder="Mail">
                            <div class="form-control-feedback">
                                <i class="icon-user "></i>
                            </div>
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 "></i>
                            </div>
                        </div>


                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@*<form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
        <input asp-for="Mail" type="text" placeholder="Mail" />
        <input asp-for="Password" type="password" name="password" placeholder="Password" />
        <input type="submit" value="Login" />
    </form>*@
